.tabs {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  border: 1px solid orange;

  &__button {
    display: flex;
    justify-content: center;
    width: 35%;
    cursor: pointer;
  }

  &__button:hover {
    background-color: orange;
  }

  &__item-active {
    background-color: orangered;
  }
}


