<div class="essences-page">
  <div class="essences-page__added-block">
    <div class="essences-page__caption">
      <label>
        <span class="essences-page__caption__span">Наименование</span>
        <input [(ngModel)]="caption" class="essences-page__caption__input">
      </label>
    </div>
    <div class="essences-page__class">
      <label>
        <span>Класс</span>
        <select [(ngModel)]="classId" class="essences-page__class__input">
          <option disabled>Выберите субъект</option>
          <option *ngFor="let mainClass of this.protegeService.listClasses"
                  [value]='mainClass.id'>
            {{mainClass.caption}}
          </option>
        </select>
      </label>
    </div>
  </div>
  <div class="essences-page__add-button"
       (click)="addButtonClickHandler(classId, caption)">
    Добавить
  </div>
  <div *ngFor="let item of this.protegeService.essence">
    <app-essence [item]="item"></app-essence>
  </div>
</div>
