<div class="essences-page">
  <div class="essences-page__added-block">
    <div class="essences-page__caption">
      <span class="essences-page__caption__span">Наименование</span>
      <div class="essences-page__caption__input">
        <input [(ngModel)]="caption">
      </div>
    </div>
    <div class="essences-page__class">
      <span>Класс</span>
      <div class="essences-page__class__input">
        <p><select [(ngModel)]="classId">
          <option disabled>Выберите субъект</option>
          <option *ngFor="let mainClass of this.protegeService.listClasses" 
                  [value]='mainClass.id'> 
            {{mainClass.caption}}
          </option>
        </select></p>
      </div>
    </div>
  </div> 
  <div class="essences-page__add-button"
       (click)="addButtonClickHundler(classId, caption)">
    Добавить
  </div>
  <div *ngFor="let item of this.protegeService.essence">
    <app-essence [item]="item"></app-essence>
  </div>
</div>
