<div class="essence">
  <!-- Наименование -->
  <div class="essence__top"> 
    {{ item.caption }}
  </div>
  
  <div class="essence__content"> 
    <!-- Класс -->
    <div class="essence__class-block">
      <p>Класс</p>
      <div *ngFor="let classId of item.classesId"
          class="essence__class">
        <app-essence-class-view [classId]="classId"></app-essence-class-view>
      </div>  
    </div>

    <div class="essence__relation-block">
      <p>Связи</p>
      <div *ngFor="let relationship of item.relationships">
        <app-relationship-view [relationship]="relationship">
        </app-relationship-view>
      </div>
      <app-relation-adder (itemChanged)="relationChanged($event)"></app-relation-adder>
    </div>
  </div>
  
</div>