<div class="essence">
  <!-- Наименование -->
  <div class="essence__top"> 
    {{ item.caption }}
  </div>
  
  <div class="essence__content"> 
    <!-- Класс -->
    <div class="essence__class-block">
      <p>Класс</p>
      <div *ngFor="let classId of item.classesId"
          class="essence__class">
        <app-essence-class-view [classId]="classId"></app-essence-class-view>
      
      </div>
      <app-drop-down [list]="this.protegeService.listClasses"
                     [caption]="'Еще'"
                     (itemChanged)="classChanged($event)"></app-drop-down>   
    </div>

    <div class="essence__relation-block">
      <p>Связи</p>
      <div class="essence__add-button">
        Добавить
      </div>
    </div>
  </div>
  
</div>